:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --Grey_500: hsl(234, 12%, 34%);
  --Grey_400: hsl(212, 6%, 44%);
  --White: hsl(0, 0%, 100%);
  --shadow: rgba(131, 166, 210, 0.5);
}
/*Mobile first approach*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3rem 2rem;
  font-family: "Poppins";
}
header {
  color: var(--Grey_500);
}
.title {
  font-size: 1.5rem;
  font-weight: 200;
}
.title-1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
header p {
  font-size: 15px;
  margin-bottom: 2rem;
}
.card {
  width: 100%;
  min-height: 250px;
  margin: 2rem 0;
  padding: 2rem;
  text-align: left;
  align-items: center;
  box-shadow: 0px 15px 30px -11px var(--shadow);
  border-radius: 8px;
}
.card.a {
  border-top: 5px solid var(--Cyan);
}
.card.b {
  border-top: 5px solid var(--Red);
}
.card.c {
  border-top: 5px solid var(--Orange);
}
.card.d {
  border-top: 5px solid var(--Blue);
}

.card h2 {
  color: var(--Grey_500);
  font-size: 20px;
  font-weight: 600;
}
.card p {
  color: var(--Grey_400);
  font-size: 13px;
  margin-bottom: 2rem;
}
.card div {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
@media screen and (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .card {
    margin: 0;
  }
  .card.a,
  .card.d {
    grid-row: 1 / 6;
    align-self: center;
    justify-self: center;
  }
  .card.b {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }

  .card.c {
    grid-column: 2 / 3;
    grid-row: 4 / 6;
  }
  .title,
  .title-1 {
    font-size: 36px;
  }
  body {
    padding: 8rem;
  }
}
